body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

h2 {
  margin-top: auto;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #959eb9;
  font-size: 10px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

p {
  display: block;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}

a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #959eb9;
  font-size: 10px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.section-styles {
  padding: 57px 15px;
  background-color: #d1d1d1;
}

.weight-regular {
  display: block;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
}

.weight-regular.event-name-height {
  max-height: 55px;
}

.weight-regular.not-found {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

.text-tertiary {
  display: block;
  color: #808594;
  font-weight: 300;
  text-transform: uppercase;
}

.text-tertiary.caps {
  text-transform: uppercase;
}

.text-secondary {
  display: block;
  margin-bottom: 0px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.text-quarternary {
  color: #315fad;
  line-height: 25px;
  text-transform: none;
}

.text-quinary {
  display: inline-block;
  color: #57ba6e;
}

.weight-semibold {
  font-weight: 600;
}

.section-background-image {
  padding: 15px 15px 45px;
  background-color: #315fad;
  background-image: -webkit-linear-gradient(270deg, rgba(21, 43, 77, 0) 80%, #152b4d), url('../images/YPO Houston City BG - Event.png');
  background-image: linear-gradient(180deg, rgba(21, 43, 77, 0) 80%, #152b4d), url('../images/YPO Houston City BG - Event.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.thumbnail-info {
  margin-bottom: 60px;
  text-align: center;
}

.background-secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #315fad;
  text-align: center;
}

.section-contact-card {
  overflow: hidden;
  height: 100%;
  padding: 46px 15px 10px;
}

.section-contact-card.background-tertiary {
  display: block;
  overflow: visible;
  height: auto;
  padding-top: 0px;
  padding-bottom: 15px;
}

.company-name-block {
  padding-right: 0px;
  padding-left: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #315fad;
}

.slide-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
}

.field {
  padding: 15px;
}

.field.highlight {
  background-color: #e4eeff;
}

.field.border {
  border-style: none solid solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

.field.border.user-list-height {
  height: 96px;
}

.slider {
  height: 100%;
  margin-top: -30px;
  background-color: transparent;
}

.title-band {
  height: 44px;
  padding: 15px;
  background-color: rgba(212, 214, 220, .25);
}

.title-band.background-secondary {
  background-color: #315fad;
  text-align: left;
}

.title-band.background-secondary.admin {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.title-band.background-secondary.admin.top {
  margin-top: 20px;
}

.title-band.form {
  margin-top: 10px;
}

.icon-link {
  display: block;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
}

.slider-nav {
  position: static;
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.background-tertiary {
  background-color: #152b4d;
}

.background-tertiary.link {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.background-tertiary.link.add-to {
  padding-top: 0px;
  padding-bottom: 0px;
}

.background-tertiary.link.add-schedule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
}

.background-tertiary.user-new {
  height: 100vh;
}

.btn-primary {
  position: relative;
  display: inline-block;
  padding: 12px 10px;
  float: none;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn-primary.float-right {
  float: right;
}

.btn-primary.edit {
  display: block;
  min-width: 70px;
  margin-left: 0px;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
  background-color: hsla(0, 0%, 100%, .1);
}

.btn-primary.password {
  padding-right: 25px;
  background-image: url('../images/icon-settings-key@2x.png');
  background-position: 100% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}

.btn-primary.log-out {
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  background-image: url('../images/icon-settings-logout@2x.png');
  background-position: 100% 50%;
  background-size: 13px;
  background-repeat: no-repeat;
}

.btn-primary.about-poetic {
  padding-top: 5px;
  padding-right: 35px;
  padding-bottom: 5px;
  background-image: url('../images/icon-settings-poetic@2x.png');
  background-position: 100% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
}

.btn-primary.cancel {
  margin-right: 20px;
  margin-left: 0px;
  padding: 0px;
  float: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  line-height: 50px;
}

.btn-primary.float-left {
  margin-left: 25px;
  float: left;
}

.btn-primary.dropdown-item {
  display: inline-block;
  margin-right: auto;
  margin-left: 10px;
}

.btn-primary.add-new {
  line-height: 50px;
}

.nav-bar {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  border-top: 1px solid #dddada;
  background-color: #fff;
  text-align: center;
}

.nav-bar.poetic-page {
  border-top-style: none;
  background-color: rgba(0, 0, 0, .5);
}

.nav-link {
  display: inline-block;
  width: 33.3%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link.w--current {
  float: none;
}

.btn-caution {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  float: none;
  background-color: transparent;
  color: #d9534f;
  text-align: center;
  text-transform: uppercase;
}

.btn-caution.float-right {
  float: right;
}

.fixed-alphabet {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 100%;
  margin-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.link-alphabet {
  width: 100%;
  height: 3.846%;
  color: #999;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0px;
  text-decoration: none;
}

.directory-info {
  display: inline-block;
  margin-left: 15px;
}

.directory-contact-link {
  width: 100%;
  text-align: left;
}

.top-section {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-action-block {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 3px;
  background-color: #57ba6e;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

.btn-link {
  display: inline;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.btn-link.settings {
  display: block;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: right;
}

.btn-link.logout-screen {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

.add {
  min-width: 70px;
  padding: 25px;
  float: right;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #6bc57a;
  background-image: url('../images/icon-add-white.png');
  background-position: 50% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  text-align: right;
}

.btn-text {
  padding-top: 15px;
  letter-spacing: 0px;
}

.back {
  display: block;
  float: none;
  text-align: left;
}

.btn-action {
  margin-right: 15px;
  padding: 12px 0px;
  float: right;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #57ba6e;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn-action.disabled {
  color: #d4d6dc;
}

.btn-secondary {
  margin-left: 15px;
  padding: 12px 0px;
  float: left;
  background-color: transparent;
  color: #152b4d;
}

.btn-secondary.rsvp {
  display: inline-block;
  margin-left: 0px;
  padding: 15px 10px;
  float: none;
}

.btn-secondary.rsvp.select-rsvp {
  color: #fff;
}

.btn-secondary.upload {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 20px;
}

.btn-secondary.upload.edit-user {
  position: relative;
  z-index: 1;
  margin-top: 16px;
  line-height: 15px;
}

.new {
  display: inline-block;
  font-family: Lato, sans-serif;
  color: #ffb400;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.new.event-title-position {
  margin-left: 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.caps {
  text-transform: uppercase;
}

.section-form {
  margin-bottom: 0px;
  padding-top: 15px;
}

.form-field {
  position: relative;
  padding: 0px 0px 0px 10px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #b6b9c1;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.form-field:focus {
  border-bottom-width: 2px;
  border-bottom-color: #315fad;
}

.form-field.login {
  margin-bottom: 15px;
  border-bottom-color: #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.form-field.search-directory {
  position: static;
  display: inline-block;
  height: 50px;
  margin-bottom: 0px;
  padding-left: 0px;
  border-bottom-style: none;
  color: #fff;
}

.form-block {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}

.form-block.change-password {
  margin-top: 20px;
}

.form-block.rsvp-form-override {
  padding-right: 0px;
  padding-left: 0px;
}

.attending {
  margin-top: 5px;
  margin-bottom: 5px;
}

.circle-check {
  margin-right: 5px;
}

.weight-light {
  font-weight: 300;
}

.nav-column {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.upload {
  display: block;
  margin: 25px auto;
  text-align: center;
}

.back-link {
  padding-right: 30px;
}

.form-field-block {
  position: relative;
}

.form-field-block.start-time {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
}

.form-field-block.end-time {
  display: inline-block;
  width: 50%;
  padding-left: 10px;
  float: right;
}

.form-field-block.city {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
}

.form-field-block.state {
  display: inline-block;
  width: 25%;
  padding-right: 10px;
  padding-left: 10px;
}

.form-field-block.zip {
  display: inline-block;
  width: 25%;
  padding-right: 0px;
  padding-left: 10px;
}

.form-field-block.select {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
}

.form-field-block.select-field-input {
  display: inline-block;
  width: 55%;
}

.form-field-block.children {
  display: inline-block;
  width: 55%;
  margin-right: 10px;
}

.form-field-block.age {
  display: inline-block;
  width: 30%;
}

.section-login {
  height: 100vh;
  background-color: #315fad;
  background-image: url('../images/YPO Houston City BG.png');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-block {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.houston-chapter {
  margin-top: 18px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.left-link {
  padding-top: 12px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.login-links {
  margin-top: 25px;
}

.footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.select {
  border-color: #000 #000 #b6b9c1;
  border-top-style: none;
  border-top-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  background-image: url('../images/select-arrow.png');
  background-position: 96% 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.select:focus {
  border-bottom: 2px solid #315fad;
}

.event-details {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #315fad;
  background-image: -webkit-linear-gradient(90deg, #152b4d, transparent), url('../images/YPO Houston City BG - Event.png');
  background-image: linear-gradient(0deg, #152b4d, transparent), url('../images/YPO Houston City BG - Event.png');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.event-info {
  margin-top: 62px;
  padding-bottom: 33px;
}

.directory-company-name {
  color: #a9adb8;
  line-height: 20px;
  text-transform: none;
}

.guests {
  color: #7b7b7b;
  line-height: 20px;
  font-weight: 300;
  text-transform: none;
}

.event-date {
  margin-top: 10px;
  color: #fff;
  font-weight: 300;
  text-transform: none;
}

.event-title {
  display: block;
  color: #fff;
  line-height: 24px;
}

.event-time {
  margin-top: 10px;
  color: #fff;
  font-weight: 300;
  text-transform: none;
}

.member-name {
  display: block;
  margin-top: 10px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
}

.company-role {
  font-weight: 300;
  text-transform: none;
}

.inline {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.add-new-field {
  color: #315fad;
}

.message-input {
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #b6b9c1;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.message-input:focus {
  border-bottom: 2px solid #315fad;
}

.message-input.private-note {
  height: 100vh;
  margin-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none;
}

.pencil {
  min-width: 70px;
  padding: 12px 20px;
  float: right;
  background-color: hsla(0, 0%, 100%, .1);
  text-align: center;
}

.search {
  position: static;
  display: inline-block;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 20px;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  line-height: 50px;
}

.poetic-office {
  height: 100vh;
  background-image: url('../images/poetic-office.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.settings-dropdown {
  display: block;
  padding-bottom: 50px;
  background-color: #152b4d;
}

.settings-dropdown.poetic-page {
  padding-top: 15px;
  background-color: #000;
}

.settings-dropdown-arrow {
  display: inline-block;
  width: 33.3%;
  height: 15px;
  float: right;
  background-color: #152b4d;
  background-image: url('../images/settings-arrow.png');
  background-position: 50% 0px;
  background-size: 14px;
  background-repeat: no-repeat;
}

.poetic-description {
  display: block;
  margin-top: 32px;
  line-height: 30px;
}

.poetic-info {
  margin-top: 20px;
}

.poetic-text {
  display: block;
  margin-top: 8px;
  color: #fff;
}

.slider-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #fff;
}

.slider-dot.w--current {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  background-color: transparent;
}

.slider-dot.outline {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  background-color: transparent;
}

.rsvp-yes {
  width: 50%;
  margin-bottom: 0px;
  padding-left: 0px;
  float: left;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.rsvp-yes.select-yes {
  background-color: #57ba6e;
}

.rsvp-no {
  width: 50%;
  text-decoration: none;
}

.rsvp-no.select-no {
  background-color: #152b4d;
}

.rsvp-check {
  display: inline-block;
}

.rsvp-check.unselected-state {
  display: none;
}

.guest-count {
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.inline-text {
  display: inline-block;
  margin-left: 10px;
}

.btn-tertiary {
  padding: 3px 0px;
  float: right;
  background-color: transparent;
  color: #315fad;
}

.login-text {
  color: #fff;
}

.login-text.resend-sms-code {
  display: inline-block;
  margin-top: 17px;
  line-height: 20px;
}

.forgot-password-title {
  display: inline-block;
  margin-top: 90px;
  margin-right: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text-white {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}

.radio-button {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}

.radio-button.block {
  display: block;
}

.upload-image {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #fff;
}

.search-dropdown {
  margin-top: 10px;
  margin-left: 15px;
  float: left;
}

.search-field {
  display: inline-block;
  margin-bottom: 0px;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dropdown-list {
  background-color: #315fad;
  text-align: center;
}

.wifi-block {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.org-type {
  display: inline-block;
  margin-top: 2px;
  margin-right: 7px;
  border-radius: 3px;
  color: #5287e0;
  font-size: 10px;
  font-weight: 400;
}

.org-type.wpo {
  color: #959eb9;
  font-weight: 400;
}

.org-type.invisible {
  color: #ffb400;
}

.notification-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin-left: 15px;
  float: right;
}

.error {
  display: inline-block;
  color: #d9534f;
}

.notification-box {
  position: relative;
  display: block;
  width: 100%;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 45px 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  background-color: #eee;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, .25);
  font-family: Lato, sans-serif;
  font-size: 12px;
  text-align: left;
}

.notification-box.error {
  background-color: #ff6c68;
  color: #fff;
}

.notification-box.warning {
  background-color: #facd8a;
}

.notification-box.success {
  background-color: #57ba6e;
  color: #fff;
}

.notification {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.error-message {
  text-align: center;
}

.edit-member {
  text-decoration: none;
}

.attention-dot {
  position: absolute;
  left: 24px;
  top: -7px;
  right: 0px;
  display: inline-block;
}

.add-element-link {
  display: block;
  float: left;
}

.card {
  margin-bottom: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
}

.link {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.event-link {
  text-align: left;
  text-decoration: none;
}

.modal-delete {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, .75);
  text-align: center;
}

.delete {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 15px 15px;
  background-color: #fff;
}

.modal-links {
  margin-right: 20px;
  margin-left: 20px;
}

.action {
  line-height: 50px;
}

.text-link {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.x {
  display: inline-block;
  width: 15px;
  margin-right: 5px;
}

.body-padding {
  overflow: hidden;
  width: 100vw;
}

.flexbox {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-container {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.content-container.smooth-scroll {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.content-container.smooth-scroll.rolodex-scroll-fix {
  position: absolute;
  overflow: scroll;
}

.content-container.rolodex-scroll-fix {
  position: absolute;
  overflow: scroll;
}

.form-field-label-outdent {
  width: 55%;
  margin-left: -20px;
}

.section-loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #315fad;
}

.loading-icon-wrapper {
  width: 100px;
  height: 100px;
  text-align: center;
}

.login-code-sent-message {
  display: block;
}

.form-wrapper {
  display: block;
  padding-top: 40px;
}

.resend-sms-code {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
}

.display-none {
  display: none;
}

.sexy-checklist-button {
  margin-left: -5px;
  padding-left: 33px;
  background-image: url('../images/checkbox-off@2x.png');
  background-position: 0px 50%;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.sexy-checklist-button.rsvp-guest-checkbox-position {
  margin-top: 0px;
  margin-left: -20px;
}

.sexy-radio-button {
  margin-left: -20px;
  padding-left: 33px;
  background-image: url('../images/checkbox-off@2x.png');
  background-position: 0px 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.sexy-radio-button.rsvp-yes-bg {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  padding: 15px 10px;
  background-image: none;
  font-family: Lato, sans-serif;
  color: #152b4d;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.sexy-radio-button.rsvp-no-bg {
  width: 100%;
  margin: 0px;
  padding: 15px 10px;
  background-image: none;
  font-family: Lato, sans-serif;
  color: #152b4d;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.sexy-radio-button.rsvp-bringing-guest-position-fix {
  margin-top: 0px;
  margin-left: -37px;
}

.display-inline-block {
  display: inline-block;
  margin-right: 40px;
}

.user-photo {
  border-radius: 80px;
  background-color: #fff;
}

.user-photo-list {
  float: left;
}

.users-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rsvp-form-override {
  margin-bottom: 0px;
}

.rolodex-wrapper {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.user-list-container {
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user-list-container.smooth-scroll {
  overflow: hidden;
}

.notification-text {
  display: inline-block;
  font-size: 14px;
}

.notification-text {
  float: left;
}

.swiper-nav-dot {
  margin-right: 5px;
  margin-left: 5px;
}

.poetic-about {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.no-members {
  margin-top: 80px;
  text-align: center;
}

.profile-pic {
  position: absolute;
  display: block;
}

.upload-input {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 80px;
  background-color: transparent;
  opacity: 0;
}

.profilepic-wrapper {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 80px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.no-events {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

html.w-mod-js *[data-ix="clicktrigger"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="settings-dropdown"] {
  display: none;
}

html.w-mod-js *[data-ix="clicktriggersearch"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="search-dropdown"] {
  display: none;
}

html.w-mod-js *[data-ix="modalinteraction"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="dropdownslide"] {
  -webkit-transform: translate(0px, 238px);
  -ms-transform: translate(0px, 238px);
  transform: translate(0px, 238px);
}

@media (max-width: 991px) {
  .resend-sms-code {
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .search {
    display: inline-block;
    line-height: 48px;
  }
}

@media (max-width: 479px) {
  .section-background-image {
    background-position: 50% 100%;
  }
  .field.border.event-list-height {
    height: 160px;
  }
  .nav-bar {
    text-align: center;
  }
  .top-section {
    padding-top: auto;
  }
  .form-field-block.city {
    width: 100%;
    padding-right: 0px;
  }
  .form-field-block.state {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .form-field-block.zip {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .event-info {
    letter-spacing: 1px;
  }
  .btn-tertiary {
    margin-top: 15px;
    float: none;
  }
  .modal-links {
    margin-top: 10px;
  }
}

